@font-face {
  font-family: 'gotham';
  src: url('../../public/GothamBook.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  
}


@font-face {
  font-family: 'gothamBold';
  src: url('../../public/GothamBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  
}


@font-face {
  font-family: 'gothamMed';
  src: url('../../public/GothamMedium.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  
}



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    background-color: #ffd5cf;
    color: #fff;
    width: 100vw;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 444px;
    position: absolute;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow */
    font-family: gotham;
  }
  
  .logo {
    font-size: 24px;
    margin-left: 30px ;
    width: 30px;
  }

  .logoTwo{
    width: 140px;
  }
  
  .menu {
    display: flex;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow */
   
  }
  
  .menu ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: none;
    font-family: gothamMed;
    padding: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow */
    margin-bottom: 20px;
   
}
  
  
  .menu li {
   
    color: #4b0637;
    padding: 10px;
  }
  
  .menu li a {
    text-decoration: none;
    font-size: larger;
    color: #f0ecef;
    padding: 20px;
    
  }
  
  .burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 30px;
  }
  
  .line {
    width: 35px;
    height: 6px;
    background-color: #fff;
    margin: 2px;
    color: #4b0637;
    transition: all 0.3s ease;
    background-color: #4b0637;
  }

  .lineOne {
    width: 25px;
    height: 6px;
    background-color: #fff;
    margin: 2px; /* Adjusting the margin here */
    transition: all 0.3s ease;
    background-color: #4b0637;
  }
  

  .linetwo {
    width: 15px;
    height: 6px;
    background-color: #fff;
    margin:  2px;
    transition: all 0.3s ease;
    background-color: #4b0637;
  }

  

  
  @media (max-width: 480px) {

     
    .menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      background-color: #333;
      margin-top:3px;
      overflow: hidden; /* Hide overflow to prevent scrollbars */
      width: 0; /* Initially hide the menu */
      transition: width 0.3s ease; /* Transition for width change */
    
    }
  
    .menu.open {
      display: flex;
      flex-direction: column;
      background: linear-gradient(to bottom, rgba(255, 213, 207, 0),#47143D); /* Adjust alpha values for translucency */
      height: 20rem;
      width: 100vw;
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
      margin-top: 1.3rem;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Add box shadow */
    }
     

    .menu ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       margin-top: 60px;
        
    }
    .burger-menu {
        display: flex;
     
        align-items: flex-end; /* Align burger menu to the right */
    }
  }
  