/* Base styles for the video */
.hero-video {
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  overflow: hidden;
  position: absolute; /* Ensure the video remains in place */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover; /* Ensures the video covers the entire container */
}

/* Animation for .hc element */
.hc {
  position: absolute;
  width: 20rem;
  left: 38rem;
  top: 18rem;
  opacity: 0;
  animation: zoomOut 5s forwards; /* Adjust the duration as needed */
}

@keyframes zoomOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Media query for small screens */
@media (max-width: 420px) {
  .hero-video {
    width: 100vh; /* Switch width to height to account for rotation */
    height: 100vw; /* Switch height to width to account for rotation */
    transform: translate(-50%, -50%) rotate(90deg); /* Center and rotate the video */
    object-fit: cover; /* Ensures the video covers the entire container */
   
  }

  .hc {
    width: 15rem; /* Adjust the size as needed */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* Center the element */
  
  }
}
